@media (max-width: 576px) {
.fontname {
        font-size: 1rem;
        color: black;
        flex-grow: 1;
            margin-left: 22px;
            font-family: 'Times New Roman', Times, serif;
    }
    .hiddenimage{
       
    }
}

@media (min-width: 1200px) {

  .fontname{
    font-size: 1.4rem;
    color: black;
    flex-grow: 1;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
  }  .hiddenimage {

  }
}
